---
// Import necessary components and utilities.
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import Tag from '@components/Tag.astro';
import getUniqueTags from '@utils/getUniqueTags';
import { SITE } from '@config';
import { getPosts } from '@utils/collections';

// Assuming these async functions are defined to fetch your data.
const posts = await getPosts();
let tags = getUniqueTags(posts);
---

<Layout title={`${SITE.title} | Tags`}>
  <Header activeNav="tags" />
  <Main pageTitle="Tags">
    <!-- List of tags -->
    <ul>
      {tags.map(({ tag }) => (
        <li>
          <!-- Assuming Tag is a custom component for displaying each tag -->
          <Tag tag={tag} size="lg" />
        </li>
      ))}
    </ul>
  </Main>
  <Footer />
</Layout>
